body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #e0ecff;
}

h1 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background: #e2ecff;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background: #eee;
}

.error {
  color: #b20000;
  background: #ffe5e5;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #d90000;
}

.btn {
  padding: 6px 12px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.btn-edit {
  background: #007bff;
}

.btn-delete {
  background: #dc3545;
}

.btn-add {
  background: #234f2d;
}

.form-box {
  background: #ffffff00;
  border: 0px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

input[type="text"] {
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background: #28a745;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 3px;
}

.actions {
  margin-bottom: 12px;
}
